<div class="row">

  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Список дел</h4>
        <p class="card-category">Все категории</p>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            <!--suppress HtmlUnknownTag -->
            <th>№</th>
            <th>Дело</th>
            <th>Категория</th>
            <th>Приоритет</th>
            <th>Статус</th>
            <th>Дата</th>
          </thead>
          <tbody>
          <tr  *ngFor="let task of tasks; let i = index ">
            <td>{{i + 1}}</td>
            <td>{{task.title}}</td>
            <td>{{task.category.title}}</td>
            <td>{{task.priority.title}}</td>
            <td>{{task.completed}}</td>
            <td>{{task.date}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
